* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    background: #001969;

}

.cabecalho{

    color: white;
    display: flex;
    justify-content: center;
    background: black;
    
}

.inputs{

    display: block;
    text-align: center;

    color: white;
    background: #27B600;
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    border: 2px solid;
    border-radius: 20px;
}

form{

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.eletronico{

    color: #000000;
    background: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
}

.pessoal{

    color: #000000;
    background: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
}

#enviar:hover{
    opacity: 0.8;
}

#bot:hover{
    opacity: 0.8;
}

#termos:hover{
    opacity: 0.8;
}

.footer{
    font-size: small;
    color: white;
    position: absolute;
    bottom: 10px;
    width: 50%;
}
























